body {
  font-family: sans-serif;
  background: #fafafa;
}

#container {
  width: 700px;
  margin: 40px auto;
  text-align: center;
}

#controls {
  margin-top: 20px;
}

svg {
  border: 1px solid #dddddd;
  background: white;
}

input[type="range"],
.demo-slider {
  width: 250px;
  accent-color: rgb(47, 0, 255);
}